{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
  <div class="jumbotron"><ul>
    {% for topic in topics %}
      <li><h4>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }} &raquo;</a>
      </h4></li>
    {% empty %}
      <li><h3>No topics have been added yet.</h3></li>
    {% endfor %}
  </ul>
  
  <h1><a href="{% url 'learning_logs:new_topic' %}" style="color: rgb(15, 7, 106);">
    <i class="bi bi-folder-plus"></i>
    Add new topic
  </a></h1></div>

{% endblock content %}