{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h4><small><a href="{% url 'learning_logs:topics' %}">Topics</a></small></h4>
  <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">
      <i class="bi bi-plus-square-dotted"></i>
       Add new entry</a>
  </p>
  <ul>
  {% for entry in entiers %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ entry.date_added|date:"M d, Y H:i" }}
        <small><a href="{% url 'learning_logs:edit_entry' entry.id%}"><i class="bi bi-pencil-square"></i>
          Edit entry</a></small>
      </h4>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no entiers for this topic yet.</p>
  {% endfor %}    
  </ul>

{% endblock content %}